@tailwind base;
@tailwind components;
@tailwind utilities;

.select-filters label {
    @apply !text-[14px];
}

.select-filters select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: right 8px top 50%; 
    appearance: none;
    @apply !text-[14px] py-2 px-2 rounded-md border-[1px] w-full pl-3;
}

.select-filters select {
   
}