@tailwind base;
@tailwind components;
@tailwind utilities;

.select-filters label {
    @apply !text-[14px];
}

.select-filters select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: right 8px top 50%; 
    appearance: none;
    @apply !text-[14px] py-2 px-2 rounded-md border-[1px] w-full pl-3;
}

.select-filters select {
   
}

.custom-specgrid {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.spec-block {
    display: inline-flex;
    flex-direction: column;
    align-self: flex-start;
    border-radius: 0.375rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246 / var(--tw-border-opacity));
    padding: 16px;
    font-size: 16px;
}

.spec-block :first-child {
    font-size: 14px;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.spec-block :last-child {
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.carCard_price {
    display: flex;
    flex-wrap: wrap;
    /* font-size: 24px; */
    font-weight: 700;
    line-height: 1;
    color: var(--bbm-primary-color);
}

.carCard_vat {
    font-size: 12px;
}

#car-filters.show {
    display: flex;
}
#car-filters.hide {
    display: none;
}

a.button {
    display: flex;
    height: 44px;
    justify-content: space-between;
    border-radius: 0.375rem;
    border-width: 1px;
    background-color: #333333;
    background-color: #333333;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 12px;
    font-size: 16px;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.equipItem {
    display: flex;
    justify-content: space-between;
}

.collapse {
    border-radius: 0.375rem;  
}

.sub-collapse {
    padding-left: 0;
    padding-right: 0;
    
}

.sub-collapse .collapse {
    border: 1px solid rgb(229 231 235);
    padding-left: 10px;
    padding-right: 10px;
}